@model PlanclockWebsite.Models.Motivation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motivation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reminderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reminderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reminderTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reminderTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivationText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivationText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
